1.Write a program to accept percentage from the user and display the grade according to the following criteria:-

In [3]:
n=int(input("Enter the marks:-"))
if(n>90):
  print("The grade obtained by student is :- A")
elif(n>80 and n<=90):
  print("The grade obtained by student is :- B")
elif(n>=60 and n<=80):
  print("The grade obtained by student is :- C")
else:
  print("The grade obtained by student is :- D")

Enter the marks:-73
The grade obtained by student is :- C

2.Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria.

In [5]:
n=int(input("Enter the cost price of bike in Rs:-"))
if(n>100000):
  print("The tax for the bike is 15% and the amount of tax to be paid is {}".format(n*0.15))
elif(n>50000 and n<=100000):
  print("The tax for the bike is 10% and the amount of tax to be paid is {}".format(n*0.1))
else:
  print("The tax for the bike is 5% and the amount to be paid is {}".format(n*0.05))

Enter the cost price of bike in Rs:-120000
The tax for the bike is 15% and the amount of tax to be paid is 18000.0

3.Accept any city from the user and display the monuments of that city.

In [39]:
city=input("Enter the city:-")
if(city=="Delhi"):
  print("Monument is:-","Red Fort")
elif(city=="Agra"):
  print("Monument is:-","Taj Mahal")
elif(city=="Jaipur"):
  print("Monument is:-","Jal Mahal")

Enter the city:-Jaipur
Monument is:- Jal Mahal

4.check how many times a given no can be divided by 3 before it is less than or equal to 10.

In [20]:
count=0
number=int(input("Enter the value:-"))
while number >10:
  number = number / 3
  count=count+1
print("total iteration required:-",count)

Enter the value:-180
total iteration required:- 3

6.Use nested while loop to print 3 different Pattern.

In [21]:
i=1
while i<=5:
  j=1
  while j<=i:
    print(j,end=" ")
    j=j+1
  print("")
  i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [26]:
n=int(input("enter the number of rows:-"))
i=1
while i<= n:
  j=n
  while j >= i:
    print("*",end=" ")
    j=j-1
  print()
  i=i+1

enter the number of rows:-5
* * * * *
* * * *
* * *
* *
*

In [27]:
n=int(input("enter number of rows:-"))
i=1
while i<=n:
  print(" "*(n-i) + "*" * i)
  i=i+1

enter number of rows:-7
      *
     **
    ***
   ****
  *****
 ******
*******

7.Reverse a while loop to display numbers from 10 to 1

In [35]:
n=10
print("The reversed numbers are :",end="")
for num in range(n,0,-1):
  print(num,end=" ")

The reversed numbers are :10 9 8 7 6 5 4 3 2 1

In [41]:
n=10
print("The reversed numbers are:",end="")
while(n>=1):
          print(n,end=" ")
          n-=1

The reversed numbers are:10 9 8 7 6 5 4 3 2 1