In [2]:
print("piyush")

piyush

In [3]:
print(489)

489

In [4]:
age=19
print("my age is: ",age)

my age is:  19

In [5]:
print("my age is:{age}")

my age is:{age}

In [8]:

#f string
print(f"my age is:{age}")

my age is:19

In [10]:
# formatting
name="piyush"
age="19"
print("my name is {} and age is {}".format(name,age))

my name is piyush and age is 19

In [12]:
name="piyush"
age="19"
degree="B.TECH"
print("My age is {} and i have completed my degree of {} with the name of {}".format(age,degree,name))

My age is 19 and i have completed my degree of B.TECH with the name of piyush

# control flow

Here, we are going to review and learn the most fundamentals of Python control flow: Decision making statement and loops.

# Decision making statements

*It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.

*Structure of decision making evaluate several expressions that provide True or False as a result.

*It is up to you to decide which type of action want to take and execute the statements based upon True and False.
These are several topics of decision making which going to be discussed below:

1.if
2.if else
3.if elif else
4.Nested if
5.Single Statement Suites

In [23]:
## if statements
## input default taken value is string
age=int(input("enter the age value"))
if(age<18):
    print("the person is not eligible to vote")
if(age>=18):
    print("the person is eligible to vote")

enter the age value 12

the person is not eligible to vote

In [20]:
##task
##take input of age
## check whether age >=18 and age <=45
## display you are young blood
age=int(input("enter the age value"))
if(age >=18 and age <=45):
    print("The person is of Young Blood")

enter the age value 22

The person is of Young Blood

In [21]:
22<=45

True

In [22]:
22>=18 and 22<=45

True

In [3]:
##if else statements
age=int(input("enter the age value"))
if(age<18):
    print("the person is not eligible to vote")
else:
    print("the person is eligible to vote")

enter the age value 22

the person is eligible to vote

In [5]:
## mall- input the product price
## product > 1000 rs 20% off
## print the product price after discount
## product <=1000 rs 10% off
##print the product price after discount
product=int(input("Enter the price of Product in Rs:"))
if(product>1000):
    print("You got 20% off on that and the final price of product is Rs {}".format(product-(product*0.2)))
else:
    print("You got 10% off on that and the final price of product is Rs {}".format(product-(product*0.1)))

Enter the price of Product in Rs: 800

You got 10% off on that and the final price of product is Rs 720.0

In [1]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount

In [2]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("I will also be there")

Enter the price 4000

Congratulations you get a Goa Trip
The price of the product is 3200.0

In [3]:
## comparison operator
True==True

True

In [1]:
##Single statement suites
val=int(input("enter the number"))
if(val<=999):print("value is less than equal to 999")
else:
    print("go home")

enter the number 1000

go home

## Loop statements

1.while loop

2.for loop

3.nested loop

4.loop control(break,continue,pass)

In [5]:
#while loop
age=int(input("enter the age value"))
while(age<=15):
    age=age+1
    print(age)
else:
    print("its time to move to maturistic period")

enter the age value 12

13
14
15
16
its time to move to maturistic period

In [11]:
#Atm machine withdrawl by person woith 100 rs
Amount=int(input("enter the amount:"))
while(Amount!=0):
    print(Amount)
    Amount=Amount-100
else:
    print("main gareeb hu")

enter the amount: 0

main gareeb hu

In [4]:
#for loop
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [5]:
fruit[2]

'n'

In [ ]:
###nested loops
n=10

In [6]:
#range
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [7]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [1]:
##nested loops
n=10

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******
********
*********
**********

In [18]:
n=int(input("enter the value"))
k=0
for i in range(1,n+1):
    for j in range(1,(n-i)+1):
        print(end=" ")
    while k!=(2*i-1):
        print("*",end='')
        k+=1
    k=0
    print("\r")

enter the value 5

    *
   ***
  *****
 *******
*********

In [19]:
##loop controls
##break and continue
fruits_list=["mango","apple","banana","papaya","guava"]
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
        break
    print(i)

mango
the fruit is apple

In [21]:
#pass
fruits_list=["mango","apple","banana","papaya","guava"]
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
        pass
    print(i)

mango
the fruit is apple
apple
banana
papaya
guava

In [22]:
#continue will skip the loop
fruits_list=["mango","apple","banana","papaya","guava"]
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
        continue
    print(i)

mango
the fruit is apple
banana
papaya
guava